.custom-textarea-container {
	justify-content: center;
	align-items: center;
}

.custom-textarea-label {
	text-align: center;
}

.custom-textarea-content {
	resize: none;
	height: auto;
	overflow-y: hidden;
	width: 100%;
	box-sizing: border-box;
	border: 2px solid var(--base-color);
	border-radius: 3rem;
	padding: 1rem 1rem 1rem 2rem;
}

.custom-textarea-content:focus {
	outline: none;
	border: 2px solid var(--lightest-color);
}

.custom-button-default {
	border: none;
	border-radius: 0.5rem;
	color: white;
	font-size: 1rem;
	padding: 0.2rem 0.4rem 0.2rem 0.4rem;
	background-color: var(--base-color);
}

.custom-button-default:hover {
	background-color: var(--light-color);
}

.custom-button-default:active {
	background-color: var(--darker-color);
}

.custom-select-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(auto, 1fr);
}

.custom-selected {
	border: 2px solid var(--base-color);
	display: flex;
	justify-content: center;
	align-items: center;
	width: fit-content;
	column-gap: 1rem;
}
