.card-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}

.card {
	position: absolute;
	width: 90%;
	height: 100%;
	right: 5%;
	opacity: 1;
	z-index: 1;
	background-color: #bdc8d8;
	border-radius: 3rem;
	transition: 1s;
}

.hidden-card {
	right: -100%;
	opacity: 0;
}

.top-card {
	opacity: 1;
	z-index: 3;
}

.middle-card {
	right: 7.5%;
	opacity: 0.5;
	z-index: 2;
}

.bottom-card {
	right: 10%;
	opacity: 0.5;
	z-index: 1;
}
