.card-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}

.card {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	position: absolute;
	width: 90%;
	height: 98%;
	right: 5%;
	opacity: 1;
	z-index: 1;
	background-color: #e9ebee;
	border-radius: 3rem;
	transition: 0.7s ease-out;
}

.card-label {
	width: 1.4rem;
	font-size: 1.8rem;
	padding-top: 10rem;
	margin-left: 0.5rem;
	padding-right: 0.5rem;
	text-align: center;
	opacity: 0;
	word-break: break-all;
	transition: 0.4s;
}

.second-card-label {
	padding-top: 20rem;
}

.third-card-label {
	padding-top: 30rem;
}

.card-label-active {
	opacity: 1;
}

.hidden-card {
	right: -100%;
	opacity: 0;
}

.top-card {
	opacity: 1;
	box-shadow: -4px 0px 9px 0px;
	z-index: 3;
}

.middle-card {
	right: 7.5%;
	box-shadow: -4px 0px 9px 0px;
	background-color: #dbdfe5;
	opacity: 0.5;
	z-index: 2;
}

.bottom-card {
	right: 10%;
	background-color: #c3c6ca;
	opacity: 0.5;
	z-index: 1;
}

.card-content {
	width: 93%;
	display: grid;
	grid-template-rows: 1fr 0.2fr 0.2fr;
	row-gap: 1rem;
	box-sizing: border-box;
	padding: 1rem;
}
