main {
	font-family: inherit;
	height: 100vh;
	width: 100vw;
}

.layout-container {
	display: grid;
	grid-template-columns: var(--sidebar-width) calc(100vw - var(--sidebar-width));
	grid-template-rows: var(--sidebar-height) calc(100vh - var(--sidebar-height));
}

.title {
	display: flex;
	align-items: center;
	grid-column: 1/3;
	color: white;
	font-size: 2rem;
	padding-left: 2rem;
	background-color: var(--base-color);
}

.side-bar {
	grid-row: 2/3;
	color: white;
	background-color: var(--base-color);
	padding: 0 0.7rem;
	transition: 0.7s;
}

.side-bar-menu {
	display: flex;
	padding: 0.5rem;
	justify-content: center;
	border-radius: 0.5rem;
}

.side-bar-menu-active {
	color: var(--base-color);
	background-color: white;
}

.content {
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	padding: 0.5rem;
	background-color: white;
	overflow-y: scroll;
	transition: 0.7s;
}

.content::-webkit-scrollbar {
	display: none;
}

@media (max-width: 550px) {
	.side-bar {
		transform: translateX(calc(-1 * var(--sidebar-width)));
		opacity: 0;
	}

	.content {
		width: calc(100% + var(--sidebar-width));
		transform: translateX(calc(-1 * var(--sidebar-width)));
	}
}
