main {
	font-family: sans-serif;
	height: 100vh;
	width: 100%;
	position: absolute;
}

.layout-container {
	display: grid;
	grid-template-columns: 8rem auto;
	grid-template-rows: 0.45fr auto;
}

.title {
	grid-column: 1/3;
	color: white;
	font-size: 2rem;
	padding-left: 2rem;
	background-color: #7185c452;
}

.side-bar {
	grid-row: 2/3;
	color: white;
	background-color: #7185c452;
}

.side-bar-menu {
	display: flex;
	padding: 0.5rem;
	justify-content: center;
}

.side-bar-menu-active {
	color: #7185c452;
	background-color: white;
}

.content-container {
	background-color: #cecece33;
}

.content {
	height: 91.4vh;
	padding: 1rem;
	margin: 0.5rem;
	border-radius: 1rem;
	background-color: white;
}
